version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: task-manager-db
    restart: always
    environment:
      POSTGRES_DB: task-manager
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    env_file:
      - .env

volumes:
  postgres_data:
